{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="vi">
{% load static %}

<head>
    {% tailwind_css %}
    <!-- 1. Thẻ charset, viewport, title -->
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title>{% block title %}{% endblock %}</title>

    <!-- 2. Thẻ SEO cơ bản -->
    {% block seo_tag %}{% endblock %}
    <meta name='revisit-after' content='1 days' />
    <meta name="robots" content="noodp,index,follow" />

    <!-- 3. Favicon -->
    <!-- <link rel="shortcut icon" href="/upload/website/logo-call-girl.png" type="image/x-icon" /> -->

    <!-- 4. Open Graph tags (Facebook, Zalo...) -->
    <meta property="og:type" content="website">
    {% block meta_tag %}{% endblock %}
    <meta property="og:site_name" content="Hydrinity">

    <!-- 5. Phần còn lại -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->

    <link rel="stylesheet" href="/static/css/dist/styles.css?v=1743858420">
    <link rel="stylesheet" href="/static/styles.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }
        $(document).ready(function () {
            function formatNumberWithDot(num) {
                return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }

            $('.format_number').each(function () {
                var originalNumber = $(this).text().trim();
                var formattedNumber = formatNumberWithDot(originalNumber);
                $(this).text(formattedNumber);
            });
        });
    </script>


    <style>
        @font-face {
            font-family: 'UTM Aptima';
            src: url("{% static 'fonts/00022-UTM-Aptima.ttf' %}") format('truetype');
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'UTM Aptima';
            src: url("{% static 'fonts/00022-UTM-Aptima.ttf' %}") format('truetype');
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: 'UTM Bebas';
            src: url("{% static 'fonts/00041-UTM-Bebas.ttf' %}") format('truetype');
            font-weight: 700;
            font-style: italic;
        }

        /* body {
            font-family: 'UTM Aptima', sans-serif !important;
        } */
    </style>


</head>

<body class=" flex flex-col bg-stone-100 min-h-screen text-white">
    <header class="bg-stone-50 border-b-[1px] border-stone-200 shadow-sm flex justify-center items-center w-full">
        <div class="w-full lg:w-[1200px] flex flex-col lg:flex-row gap-[10px] lg:gap-[0px] items-center justify-between h-auto py-[20px]">
            <a href="/" class=" relative flex flex-col whitespace-nowrap uppercase text-[25px] text-sky-500 items-center justify-center font-extrabold h-full">
                <span style="font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
                    Check keyword
                </span>
                <!-- <img alt="logo" class="w-[100px]" src="/upload/website/logo-call-girl.png" /> -->
            </a>
            <div class="flex items-center text-sky-500 lg:px-[20px]">
                <nav class="grid grid-cols-3 lg:grid-cols-6 h-full">
                    <a href="/"
                        class=" {% if '/' == request.path %}bg-sky-500 rounded-full text-stone-50{% endif %} cursor-pointer text-[18px] font-semibold flex items-center justify-center h-full p-3 whitespace-nowrap">
                        Trang chủ
                    </a>
                    <a href="{% url 'price_list_client' %}"
                        class="{% if 'price-list' in request.path %}bg-sky-500 rounded-full text-stone-50{% endif %} cursor-pointer text-[18px] font-semibold flex items-center justify-center h-full p-3 whitespace-nowrap">
                        Bảng giá
                    </a>
                    <a href="{% url 'deposit_money_client' %}"
                        class="{% if 'deposit-money' in request.path %}bg-sky-500 rounded-full text-stone-50{% endif %} cursor-pointer text-[18px] font-semibold flex items-center justify-center h-full p-3 whitespace-nowrap">
                        Nạp tiền
                    </a>
                    <a href="{% url 'transaction_history_client' %}"
                        class="{% if 'transaction-history' in request.path %}bg-sky-500 rounded-full text-stone-50{% endif %} cursor-pointer text-[18px] font-semibold flex items-center justify-center h-full p-3 whitespace-nowrap">
                        Lịch sử GD
                    </a>
                    <a href="{% url 'profile_client' %}"
                        class="{% if 'profile-client' in request.path %}bg-sky-500 rounded-full text-stone-50{% endif %} cursor-pointer text-[18px] font-semibold flex items-center justify-center h-full p-3 whitespace-nowrap">
                        Hồ sơ 
                    </a>
                    <a href="{% url 'list_user_client' %}"
                        class="{% if 'list-user' in request.path %}bg-sky-500 rounded-full text-stone-50{% endif %} cursor-pointer text-[18px] font-semibold flex items-center justify-center h-full p-3 whitespace-nowrap">
                        Người dùng
                    </a>
                </nav>
            </div>
            <div class="flex items-center gap-2 ml-2 uppercase text-sky-500 border-[1px] border-sky-500 rounded-full px-[10px] py-[5px]">
                <a href="{% url 'login_client' %}" class=" whitespace-nowrap font-bold text-[13px]">Log in</a>
                /
                <a href="{% url 'register_client' %}" class=" whitespace-nowrap font-bold text-[13px]">Register</a>
            </div>
        </div>
    </header>
    <div class="flex w-full grow">
        <!-- <div class="hidden  lg:flex flex-col gap-[15px] w-full p-[15px]"></div> -->
        {% block content %}{% endblock %}
        <!-- <div class="hidden  lg:flex flex-col gap-[15px] w-full p-[15px]"></div> -->
    </div>
    <footer class=" flex justify-center items-center bg-stone-50 border-t-[1px] border-stone-200 text-sky-900">
        <div class="w-full lg:w-[1200px] text-[18px] lg:text-[25px] flex justify-between items-center gap-[15px]   p-3  font-bold">
            <div class="flex items-center gap-2 text-[16px] lg:text-[20px] font-medium">
                <a >Bảng giá</a>
                -
                <a >Nạp tiền</a>
            </div>
            <span>2025 © Checkkeyword.com</span>
        </div>
    </footer>
</body>

</html>