{% extends './base.html' %}
{% block title %}Lịch sử giao dịch{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Lịch sử giao dịch">
    <meta name="keywords" content="Lịch sử giao dịch" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Lịch sử giao dịch">
    <meta property="og:description" content="Lịch sử giao dịch">
{% endblock %}
{% block content %}
<main class=" flex flex-col justify-center items-center  grow lg:py-[15px] text-stone-950">
    <div class="w-full lg:w-[1200px] flex flex-col justify-center items-center grow gap-3 bg-stone-50 lg:border-[1px] border-stone-200  p-[20px]">
        <h1 class="font-bold text-[20px] lg:text-[23px]">Danh sách người dùng</h1>
        <div class="hidden lg:flex flex-col items-center justify-center w-full gap-3 overflow-x-auto">
            <div class="flex flex-col w-full border-[1px] border-stone-950 divide-y-[1px] divide-stone-950">
                <div class="flex w-full divide-x-[1px] divide-stone-950">
                    <span class="text-center w-[35%] p-2 overflow-hidden font-bold">Tên người dùng</span>
                    <span class="text-center w-[30%] p-2 overflow-hidden font-bold">Số tiền trong tài khoản</span>
                    <span class="text-center w-[35%] p-2 overflow-hidden font-bold">Chức năng</span>
                </div>
                {% for i in list_User %}
                <div class="flex w-full divide-x-[1px] divide-stone-950">
                    <div class="flex gap-2 w-[35%] items-center justify-center">
                        <span class="flex items-center justify-center py-0 my-0  overflow-hidden font-semibold">{{i.username}}</span>
                        {% if i.is_superuser %}
                        <span class="bg-red-200 px-2 py-1 font-semibold rounded-md">Admin</span>
                        {% else %}
                        <span class="bg-blue-200 px-2 py-1 font-semibold rounded-md">Client</span>
                        {% endif %}
                    </div>
                    <span class="format_number flex items-center justify-center leading-none py-0 my-0 w-[30%] overflow-hidden font-semibold">{{i.Money|default:'0'}} đ</span>
                    <div class="flex flex-col lg:flex-row text-[14px] gap-2 justify-center items-center w-[35%] p-4 overflow-hidden">
                        <a class="open_form_deposit_money bg-stone-950 px-3 py-3 rounded-lg text-stone-50 font-bold whitespace-nowrap cursor-pointer w-full text-center" data-username="{{i.username}}">Nạp tiền</a>
                        <a class="open_form_change_password bg-stone-950 px-3 py-3 rounded-lg text-stone-50 font-bold whitespace-nowrap cursor-pointer w-full text-center" data-username="{{i.username}}">Đổi mật khẩu</a>
                        <form action="{% url 'user_delete_client' %}" method="post" class="delete-form w-full" data-username="{{ i.username }}">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ i.username }}" class="rounded-lg w-[300px] text-center" />
                            <button type="submit" class=" bg-red-500 px-3 py-3 rounded-lg text-stone-50 font-bold whitespace-nowrap cursor-pointer w-full text-center">
                                Xoá
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>      
        </div>
        <div class=" lg:hidden flex flex-col items-center justify-center w-full gap-3 overflow-x-auto">
            <div class="flex flex-col w-full border-[1px] border-stone-950 divide-y-[1px] divide-stone-950">
                <div class="flex w-full divide-x-[1px] divide-stone-950">
                    <span class="text-center w-[50%] p-2 overflow-hidden font-bold">Người dùng</span>
                    <span class="text-center w-[50%] p-2 overflow-hidden font-bold">Chức năng</span>
                </div>
                {% for i in list_User %}
                <div class="flex w-full divide-x-[1px] divide-stone-950">
                    <div class="flex flex-col gap-2 justify-center items-center w-[50%]">
                        <span class="flex items-center justify-center  py-0 my-0  overflow-hidden font-semibold">{{i.username}}</span>
                        {% if i.is_superuser %}
                        <span class="bg-red-200 px-2 py-1 font-semibold rounded-md ">Admin</span>
                        {% else %}
                        <span class="bg-blue-200 px-2 py-1 font-semibold rounded-md">Client</span>
                        {% endif %}
                        <span class="format_number flex items-center justify-center  py-0 my-0 overflow-hidden font-semibold">{{i.Money|default:'0'}}đ</span>
                    </div>
                    <div class="flex flex-col lg:flex-row text-[14px] gap-2 justify-center items-center w-[50%] p-4 overflow-hidden">
                        <a class="open_form_deposit_money bg-stone-950 px-3 py-3 rounded-lg text-stone-50 font-bold whitespace-nowrap cursor-pointer w-full text-center" data-username="{{i.username}}">Nạp tiền</a>
                        <a class="open_form_change_password  bg-stone-950 px-3 py-3 rounded-lg text-stone-50 font-bold whitespace-nowrap cursor-pointer w-full text-center" data-username="{{i.username}}">Đổi mật khẩu</a>
                        <form action="{% url 'user_delete_client' %}" method="post" class="delete-form w-full" data-username="{{ i.username }}">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ i.username }}" class="rounded-lg w-[300px] text-center" />
                            <button type="submit" class="bg-red-500 px-3 py-3 rounded-lg text-stone-50 font-bold whitespace-nowrap cursor-pointer w-full text-center">
                                Xoá
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>      
        </div>
    </div>
</main>
<div class="form_change_password fixed inset-0 flex justify-center items-center bg-stone-950 bg-opacity-30 px-[15px] lg:px-[0px]" style="display: none;">
    <form action="{% url 'user_change_password_client' %}" method="post" class=" flex flex-col gap-3 items-center justify-center bg-stone-50 rounded-lg text-stone-950 w-[500px] p-[20px]">
        <span class="labe_user font-bold">
            Đổi mật khẩu cho 'vuthaind@gmail.com'
        </span>
        {% csrf_token %}
        <input type="hidden" name="username" value=""  class="value_username rounded-lg w-[300px] text-center" />
        <input placeholder="Nhập mật khẩu mới" name="new_password" class="rounded-lg w-[300px] text-center" />
        <div class="flex items-center gap-2">
            <button class="bg-stone-950 rounded-lg font-bold text-stone-50 px-3 p-2">Đổi mật khẩu</button>
            <span class="close_form_change_password bg-stone-600 rounded-lg font-bold text-stone-50 px-3 p-2 cursor-pointer">Huỷ</span>
        </div>
    </form>
</div>
<div class="form_deposit_money fixed inset-0 flex justify-center items-center bg-stone-950 bg-opacity-30 px-[15px] lg:px-[0px]" style="display: none;">
    <form action="{% url 'user_deposit_money_client' %}" method="post" class=" flex flex-col gap-3 items-center justify-center bg-stone-50 rounded-lg text-stone-950 w-[500px] p-[20px]">
        <span class="labe_user font-bold">
            Nạp tiền cho 'vuthaind@gmail.com'
        </span>
        {% csrf_token %}
        <input type="hidden" name="username" value=""  class="value_username rounded-lg w-[300px] text-center" />
        <input type="number" name="money" placeholder="Nhập số tiền cần nạp" class="rounded-lg w-[300px] text-center" />
        <div class="flex items-center gap-2">
            <button class="bg-stone-950 rounded-lg font-bold text-stone-50 px-3 p-2">Nạp tiền</button>
            <span class="close_form_deposit_money bg-stone-600 rounded-lg font-bold text-stone-50 px-3 p-2 cursor-pointer">Huỷ</span>
        </div>
    </form>
</div>
{% if messages %}
    <script>
        window.onload = function () {
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    alert("✅ {{ message }}");
                {% elif message.tags == 'error' %}
                    alert("❌ {{ message }}");
                {% else %}
                    alert("ℹ️ {{ message }}");
                {% endif %}
            {% endfor %}
        }
    </script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.delete-form').on('submit', function (e) {
            const username = $(this).data('username');
            const confirmed = confirm(`ℹ️ Bạn có chắc chắn muốn xoá người dùng "${username}" không ?`);
            if (!confirmed) {
                e.preventDefault();
            }
        });
    });
</script>
<script>
  $(document).ready(function () {
    // Mở form
    $('.open_form_deposit_money').on('click', function () {
        const username = $(this).data('username');  // Lấy từ thuộc tính data-username

      // Gán nội dung vào .labe_user
      $('.labe_user').text(`Nạp tiền cho '${username}'`);
      $('.value_username').val(username);
      $('.form_deposit_money').fadeIn();
    });

    // Đóng form
    $('.close_form_deposit_money').on('click', function (e) {
      e.preventDefault(); // tránh việc submit nếu là <button> trong form
      $('.form_deposit_money').fadeOut();
    });
  });
</script>
<script>
  $(document).ready(function () {
    // Mở form
    $('.open_form_change_password').on('click', function () {
        const username = $(this).data('username');  // Lấy từ thuộc tính data-username

      // Gán nội dung vào .labe_user
      $('.labe_user').text(`Đổi mật khẩu cho '${username}'`);
      $('.value_username').val(username);
      $('.form_change_password').fadeIn();
    });

    // Đóng form
    $('.close_form_change_password').on('click', function (e) {
      e.preventDefault(); // tránh việc submit nếu là <button> trong form
      $('.form_change_password').fadeOut();
    });
  });
</script>

<style>
    .pagination ul {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      /* height: 35px; */
      /* border-style: solid; */
      /* border-color: #e5e7eb; */
      /* border-width: 1px; */
      border-radius: 0.375rem;
    }

    .pagination ul a {
      color: white;
      list-style: none;
      line-height: 45px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease;
      --tw-bg-opacity: 1;
      background-color: rgb(41 37 36 / var(--tw-bg-opacity, 1));
    }

    .pagination ul a.numb {
      list-style: none;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin: 0 3px; */
      line-height: 35px;
      /* padding-bottom: 3px; */
    }

    .pagination ul a.numb.first {
      margin: 0px 3px 0 -5px;
    }

    .pagination ul a.numb.last {
      margin: 0px -5px 0 3px;
    }

    .pagination ul a.dots {
      font-size: 22px;
      cursor: default;
    }

    .pagination ul a.btn {
      /* border-radius: 50px; */
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      --tw-bg-opacity: 1;
      background-color: rgb(41 37 36 / var(--tw-bg-opacity, 1));
    }

    .pagination a.active,
    .pagination ul a.numb:hover,
    .pagination ul a:first-child:hover,
    .pagination ul a:last-child:hover {
      color: white;
      /* background: #22c55e; */
      --tw-bg-opacity: 1;
      background-color: rgb(12 10 9 / var(--tw-bg-opacity, 1));
      font-weight: 600;
    }
</style>
<script>
    const swipers = {}; // chứa tất cả swiper
  
    document.addEventListener("DOMContentLoaded", function () {
      const total = {{ list_Product|length }};
      for (let i = 1; i <= total; i++) {
        swipers[i] = new Swiper(".mySwiper-" + i, {
          loop: true,
          autoplay: {
            delay: 1000,
            disableOnInteraction: false,
          },
          speed: 600,
          effect: "fade",
          fadeEffect: { crossFade: true },
        });
  
        swipers[i].autoplay.stop(); // ban đầu dừng
      }
    });
  
    function startSwiper(id) {
      if (swipers[id]) {
        swipers[id].autoplay.start();
      }
    }
  
    function stopSwiper(id) {
      if (swipers[id]) {
        swipers[id].autoplay.stop();
        swipers[id].slideToLoop(0); // về ảnh đầu tiên
      }
    }
  </script>
  
<script>
    // selecting required element
    const element = document.querySelector(".pagination ul");
    let totalPages = {{list_Product.paginator.num_pages}};
    let page = {{list_Product.number}};
    let s = "{{ s|default:'' }}";  // Nếu s không có giá trị, dùng giá trị mặc định là ''
    let f1 = "{{ f1|default:'' }}";  // Nếu f không có giá trị, dùng giá trị mặc định là ''
    let f2 = "{{ f2|default:'' }}";  // Nếu st không có giá trị, dùng giá trị mặc định là ''

    //calling function with passing parameters and adding inside element which is ul tag
    element.innerHTML = createPagination(totalPages, page);
    function createPagination(totalPages, page) {
        let liTag = '';
        let active;
        let beforePage = page - 1;
        let afterPage = page + 1;

        // Hiển thị nút "Trang trước" nếu không phải là trang đầu tiên
        if (page > 1) {
            liTag += `<a href="?p=${page - 1}&s=${s}&f1=${f1}&f2=${f2}" class="btn prev"><svg class="w-[30px] fill-white" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "></polygon></svg></a>`;
        }

        // Nếu tổng số trang nhỏ hơn 8, hiển thị tất cả các trang mà không cần dấu ba chấm
        if (totalPages < 8) {
            for (let i = 1; i <= totalPages; i++) {
                active = (page == i) ? "active" : "";
                liTag += `<a href="?p=${i}&s=${s}&f1=${f1}&f2=${f2}" class="numb ${active}"><span>${i}</span></a>`;
            }
        } else {
            // Nếu tổng số trang >= 8, hiển thị có điều kiện các trang với dấu ba chấm
            if (page > 2) {
                liTag += `<a href="?p=1&s=${s}&f1=${f1}&f2=${f2}" class="first numb"><span>1</span></a>`;
                if (page > 3) {
                    liTag += `<a class="dots"><span>...</span></a>`;
                }
            }

            // Điều chỉnh trước và sau trang hiện tại
            if (page == totalPages) {
                beforePage = beforePage - 2;
            } else if (page == totalPages - 1) {
                beforePage = beforePage - 1;
            }
            if (page == 1) {
                afterPage = afterPage + 2;
            } else if (page == 2) {
                afterPage = afterPage + 1;
            }

            // Hiển thị các trang trong khoảng trước và sau trang hiện tại
            for (let plength = beforePage; plength <= afterPage; plength++) {
                if (plength > totalPages) continue;
                if (plength == 0) plength = 1;
                active = (page == plength) ? "active" : "";
                liTag += `<a href="?p=${plength}&s=${s}&f1=${f1}&f2=${f2}" class="numb ${active}"><span>${plength}</span></a>`;
            }

            // Hiển thị trang cuối cùng với dấu ba chấm nếu cần
            if (page < totalPages - 1) {
                if (page < totalPages - 2) {
                    liTag += `<a class="dots"><span>...</span></a>`;
                }
                liTag += `<a href="?p=${totalPages}&s=${s}&f1=${f1}&f2=${f2}" class="last numb"><span>${totalPages}</span></a>`;
            }
        }

        // Hiển thị nút "Trang sau" nếu không phải là trang cuối cùng
        if (page < totalPages) {
            liTag += `<a href="?p=${page + 1}&s=${s}&f1=${f1}&f2=${f2}" class="btn next"><svg class="w-[30px] fill-white" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" transform="matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "></polygon></svg></a>`;
        }

        element.innerHTML = liTag;
        return liTag;
    }
</script>
{% endblock %}