{% extends './base.html' %}
{% block title %}Lấy mã OTP{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Lấy mã OTP">
    <meta name="keywords" content="Lấy mã OTP" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Lấy mã OTP">
    <meta property="og:description" content="Lấy mã OTP">
{% endblock %}
{% block content %}
<main class=" flex flex-col justify-center items-center  grow p-[15px] text-stone-950">
    <div class="flex flex-col bg-stone-50 w-full lg:w-[500px] p-6 border-[1px] border-stone-200 rounded-lg gap-3">
        <!-- <div class="flex justify-center items-center mb-3">
            <img src="/upload/website/logo-call-girl.png" class="w-[200px]" />
        </div> -->
        <div class="uppercase text-center bg-stone-950
 text-white p-3 font-bold rounded-md">
            Nhận mã OTP
        </div>
        <form id="Login_Form" action="" class="flex flex-col gap-2">
            {% csrf_token %}
            <input name="username" placeholder="Email" type="email" class="rounded-md border-[1px] border-stone-950
" />
            <span class="Loader flex items-center gap-2 text-stone-950
" style="display: none;">
                <span class="loader"></span>
                Sending OTP code ...
            </span>
            <button type="submit" class=" text-stone-950
 rounded-md py-2 font-bold border-[1px] border-stone-950
 ">
                Send OTP
            </button>
        </form>
		<a href="{% url 'login_client' %}" class="flex items-center justify-center text-stone-950
 rounded-md py-2 font-bold border-[1px] border-stone-950
 ">
            <span class="fill-stone-950
 w-[20px]">
                <svg enable-background="new 0 0 32 32" id="Слой_1" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" transform="matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)"><g id="Double_Chevron_Right"><path d="M23.662,15.286l-6.9-6.999c-0.39-0.394-1.024-0.394-1.414,0c-0.391,0.394-0.391,1.034,0,1.428L21.544,16   l-6.196,6.285c-0.391,0.394-0.391,1.034,0,1.428c0.391,0.394,1.024,0.394,1.414,0l6.899-6.999   C24.038,16.335,24.039,15.666,23.662,15.286z" fill="#0C0A09

"></path><path d="M16.662,15.286L9.763,8.287c-0.391-0.394-1.024-0.394-1.414,0c-0.391,0.394-0.391,1.034,0,1.428L14.544,16   l-6.196,6.285c-0.391,0.394-0.391,1.034,0,1.428c0.391,0.394,1.024,0.394,1.414,0l6.899-6.999   C17.038,16.335,17.039,15.666,16.662,15.286z" fill="#0C0A09

"></path></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </span>
            Sign in now
            <span class="fill-stone-950
 w-[20px]">
                <svg enable-background="new 0 0 32 32" id="Слой_1" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Double_Chevron_Right"><path d="M23.662,15.286l-6.9-6.999c-0.39-0.394-1.024-0.394-1.414,0c-0.391,0.394-0.391,1.034,0,1.428L21.544,16   l-6.196,6.285c-0.391,0.394-0.391,1.034,0,1.428c0.391,0.394,1.024,0.394,1.414,0l6.899-6.999   C24.038,16.335,24.039,15.666,23.662,15.286z" fill="#0C0A09

"></path><path d="M16.662,15.286L9.763,8.287c-0.391-0.394-1.024-0.394-1.414,0c-0.391,0.394-0.391,1.034,0,1.428L14.544,16   l-6.196,6.285c-0.391,0.394-0.391,1.034,0,1.428c0.391,0.394,1.024,0.394,1.414,0l6.899-6.999   C17.038,16.335,17.039,15.666,16.662,15.286z" fill="#0C0A09

"></path></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </span>
        </a>
        <script>
            $(document).ready(function() {
                $('#Login_Form').on('submit', function(event) {
                    event.preventDefault();
                    $('.Loader').show();
                    // $('#Login_Form').hide()
                
                    var formData = new FormData(this);  // Tạo FormData từ form hiện tại
                
                    $.ajax({
                        url: '{% url 'reset_password_client' %}',
                        method: 'POST',
                        // headers: {
                        //     'X-CSRFToken': '{{ csrf_token }}'
                        // },
                        processData: false,  // Không xử lý dữ liệu (cần thiết khi sử dụng FormData)
                        contentType: false,  // Không đặt kiểu content (cần thiết khi sử dụng FormData)
                        data: formData,
                        success: function(response) {
                            if (response.success) {
                                $('.Loader').hide();
                                alert(response.message);
                                window.location.href = response.redirect_url;
                            } else {
                                // $('#loader_login').hide()
                                // $('#Login_Form').show()
                                $('.Loader').hide();
                                alert(response.message);
                            }
                        },
                        error: function(response) {
                            console.log('Đăng nhập thất bại', response);
                        }
                    });
                });
                
            });
        </script>
        <style>
            .loader {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                position: relative;
                animation: rotate 1s linear infinite
                }
                .loader::before {
                content: "";
                box-sizing: border-box;
                position: absolute;
                inset: 0px;
                border-radius: 50%;
                border: 5px solid #11284A;
                animation: prixClipFix 2s linear infinite ;
                }

                @keyframes rotate {
                100%   {transform: rotate(360deg)}
                }

                @keyframes prixClipFix {
                    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
                    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
                    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
                    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
                    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
                }
        </style>
    </div>
</main>
<style>
    .pagination ul {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      /* height: 35px; */
      /* border-style: solid; */
      /* border-color: #e5e7eb; */
      /* border-width: 1px; */
      border-radius: 0.375rem;
    }

    .pagination ul a {
      color: white;
      list-style: none;
      line-height: 45px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease;
      --tw-bg-opacity: 1;
      background-color: rgb(41 37 36 / var(--tw-bg-opacity, 1));
    }

    .pagination ul a.numb {
      list-style: none;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin: 0 3px; */
      line-height: 35px;
      /* padding-bottom: 3px; */
    }

    .pagination ul a.numb.first {
      margin: 0px 3px 0 -5px;
    }

    .pagination ul a.numb.last {
      margin: 0px -5px 0 3px;
    }

    .pagination ul a.dots {
      font-size: 22px;
      cursor: default;
    }

    .pagination ul a.btn {
      /* border-radius: 50px; */
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      --tw-bg-opacity: 1;
      background-color: rgb(41 37 36 / var(--tw-bg-opacity, 1));
    }

    .pagination a.active,
    .pagination ul a.numb:hover,
    .pagination ul a:first-child:hover,
    .pagination ul a:last-child:hover {
      color: white;
      /* background: #22c55e; */
      --tw-bg-opacity: 1;
      background-color: rgb(12 10 9 / var(--tw-bg-opacity, 1));
      font-weight: 600;
    }
</style>
<script>
    const swipers = {}; // chứa tất cả swiper
  
    document.addEventListener("DOMContentLoaded", function () {
      const total = {{ list_Product|length }};
      for (let i = 1; i <= total; i++) {
        swipers[i] = new Swiper(".mySwiper-" + i, {
          loop: true,
          autoplay: {
            delay: 1000,
            disableOnInteraction: false,
          },
          speed: 600,
          effect: "fade",
          fadeEffect: { crossFade: true },
        });
  
        swipers[i].autoplay.stop(); // ban đầu dừng
      }
    });
  
    function startSwiper(id) {
      if (swipers[id]) {
        swipers[id].autoplay.start();
      }
    }
  
    function stopSwiper(id) {
      if (swipers[id]) {
        swipers[id].autoplay.stop();
        swipers[id].slideToLoop(0); // về ảnh đầu tiên
      }
    }
  </script>
  
<script>
    // selecting required element
    const element = document.querySelector(".pagination ul");
    let totalPages = {{list_Product.paginator.num_pages}};
    let page = {{list_Product.number}};
    let s = "{{ s|default:'' }}";  // Nếu s không có giá trị, dùng giá trị mặc định là ''
    let f1 = "{{ f1|default:'' }}";  // Nếu f không có giá trị, dùng giá trị mặc định là ''
    let f2 = "{{ f2|default:'' }}";  // Nếu st không có giá trị, dùng giá trị mặc định là ''

    //calling function with passing parameters and adding inside element which is ul tag
    element.innerHTML = createPagination(totalPages, page);
    function createPagination(totalPages, page) {
        let liTag = '';
        let active;
        let beforePage = page - 1;
        let afterPage = page + 1;

        // Hiển thị nút "Trang trước" nếu không phải là trang đầu tiên
        if (page > 1) {
            liTag += `<a href="?p=${page - 1}&s=${s}&f1=${f1}&f2=${f2}" class="btn prev"><svg class="w-[30px] fill-white" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "></polygon></svg></a>`;
        }

        // Nếu tổng số trang nhỏ hơn 8, hiển thị tất cả các trang mà không cần dấu ba chấm
        if (totalPages < 8) {
            for (let i = 1; i <= totalPages; i++) {
                active = (page == i) ? "active" : "";
                liTag += `<a href="?p=${i}&s=${s}&f1=${f1}&f2=${f2}" class="numb ${active}"><span>${i}</span></a>`;
            }
        } else {
            // Nếu tổng số trang >= 8, hiển thị có điều kiện các trang với dấu ba chấm
            if (page > 2) {
                liTag += `<a href="?p=1&s=${s}&f1=${f1}&f2=${f2}" class="first numb"><span>1</span></a>`;
                if (page > 3) {
                    liTag += `<a class="dots"><span>...</span></a>`;
                }
            }

            // Điều chỉnh trước và sau trang hiện tại
            if (page == totalPages) {
                beforePage = beforePage - 2;
            } else if (page == totalPages - 1) {
                beforePage = beforePage - 1;
            }
            if (page == 1) {
                afterPage = afterPage + 2;
            } else if (page == 2) {
                afterPage = afterPage + 1;
            }

            // Hiển thị các trang trong khoảng trước và sau trang hiện tại
            for (let plength = beforePage; plength <= afterPage; plength++) {
                if (plength > totalPages) continue;
                if (plength == 0) plength = 1;
                active = (page == plength) ? "active" : "";
                liTag += `<a href="?p=${plength}&s=${s}&f1=${f1}&f2=${f2}" class="numb ${active}"><span>${plength}</span></a>`;
            }

            // Hiển thị trang cuối cùng với dấu ba chấm nếu cần
            if (page < totalPages - 1) {
                if (page < totalPages - 2) {
                    liTag += `<a class="dots"><span>...</span></a>`;
                }
                liTag += `<a href="?p=${totalPages}&s=${s}&f1=${f1}&f2=${f2}" class="last numb"><span>${totalPages}</span></a>`;
            }
        }

        // Hiển thị nút "Trang sau" nếu không phải là trang cuối cùng
        if (page < totalPages) {
            liTag += `<a href="?p=${page + 1}&s=${s}&f1=${f1}&f2=${f2}" class="btn next"><svg class="w-[30px] fill-white" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" transform="matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "></polygon></svg></a>`;
        }

        element.innerHTML = liTag;
        return liTag;
    }
</script>
{% endblock %}

